@model PermissionManager.Models.Rights

@{
    ViewData["Title"] = "Create";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Create</h1>

<h4>Rights</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="RightsName" class="control-label"></label>
                <input asp-for="RightsName" class="form-control" />
                <span asp-validation-for="RightsName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="RightsValue" class="control-label"></label>
                <input asp-for="RightsValue" class="form-control" />
                <span asp-validation-for="RightsValue" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="OfficeRightsID" class="control-label"></label>
                <select asp-for="OfficeRightsID" class ="form-control" asp-items="ViewBag.OfficeRightsID"></select>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
